#category-certs > .category-icon {
    list-style-image: url("chrome://browser/skin/preferences/in-content/icons.svg#content");
}

treechildren::-moz-tree-checkbox {
  /* unchecked checkbox treecells. This style MUST come before treechildren::-moz-tree-checkbox(checked) otherwise it won't take effect.  */
  list-style-image: none;
}

treechildren::-moz-tree-checkbox(checked){
  /* css for checked cells. cbox-check.gif isn't available in Firefox 1, 2, and 3 on Mac OS X, so you should specify a URL to an image
     in your extension or elsewhere. */
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

/* this forces the tree row to get bigger
treechildren {
    font-size: 200%;
}
 */

treechildren::-moz-tree-row{
	height: 50px;
}

treechildren::-moz-tree-cell-text(greenTrust) {
	color: green;
}

treechildren::-moz-tree-image(builtInCert) {
	list-style-image: url("http://png-5.findicons.com/files/icons/1070/software/128/mozilla_firefox.png");
	width: 32px;
	height: 32px;
}