body {
	font: message-box;
	font-size: 15px;
	font-weight: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
 	-moz-appearance: none;
	background-color: var(--in-content-page-background);
	color: var(--in-content-page-color);

	/* *|*.main-content */
	padding-top: 40px;
  	-moz-padding-end: 44px; /* compensate the 4px margin of child elements */
  	padding-bottom: 48px;
  	-moz-padding-start: 48px;
  	overflow: auto;
}

h1 {
	font-size: 2.5em;
  	font-weight: lighter;
  	line-height: 1.2;
  	color: var(--in-content-text-color);
  	margin: 0;
  	margin-bottom: .5em;
}

h2 {
  font-size: 2em;
    font-weight: lighter;
    line-height: 1.2;
    color: var(--in-content-text-color);
    margin: 0;
    margin-bottom: .5em;
}

hr {
  	border-style: solid none none none;
  	border-color: var(--in-content-border-color);
}

.certButtons {
  margin: 10px;
  float: center;
  display: none
}

.authorityButtons{
  width:30%;
  border-radius:0px;
  float: center;
}

.detail tr.selected {
    background-color: #FFCF8B;
}

#authTitle {
  font-size: 28pt;
  font-weight: bold;
  margin-right: 10px;
}

#detail_table {
  display: none;
}

.detail_row {
  font-size: 9pt;
}

.block_div {
    margin: 10px;
}

.parent {
    text-align: center;
    background-color: #ebebeb;
}

#wrapper{
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#footer_plain{
  padding-top: 7px;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #FFF;
  bottom: 0px;
  margin: 0px;
}

#content{
  display: inline-block;
  width:80%;
  /*border: solid 2px gray;*/
}

#import {
  background-color: #51b3e5;
  border-color: #2d7abf;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#viewButton {
  background-color: #51b3e5;
  border-color: #2d7abf;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#editTrustButton {
  background-color: #51b3e5;
  border-color: #2d7abf;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#exportButton {
  background-color: #51b3e5;
  border-color: #2d7abf;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#delete {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.searchbar {
  margin: 10px, 10px, 10px, 0;
}

/*
*|*:root {
  --in-content-page-color: #424e5a;
  --in-content-page-background: #fbfbfb;
  --in-content-text-color: #333;
  --in-content-selected-text: #fff;
  --in-content-header-border-color: #c8c8c8;
  --in-content-box-background: #fff;
  --in-content-box-background-odd: #f3f6fa;
  --in-content-box-background-hover: #ebebeb;
  --in-content-box-background-active: #dadada;
  --in-content-box-border-color: #c1c1c1;
  --in-content-item-hover: rgba(0,149,221,0.25);
  --in-content-item-selected: #0095dd;
  --in-content-border-highlight: #ff9500;
  --in-content-border-focus: #0095dd;
  --in-content-border-color: #c1c1c1;
  --in-content-category-text: #c1c1c1;
  --in-content-category-border-focus: 1px dotted #fff;
  --in-content-category-text-selected: #f2f2f2;
  --in-content-category-background: #424f5a;
  --in-content-category-background-hover: #5e6972;
  --in-content-category-background-active: #343f48;
  --in-content-tab-color: #424f5a;
  --in-content-link-color: #0095dd;
  --in-content-link-color-hover: #178ce5;
  --in-content-link-color-active: #ff9500;
  --in-content-link-color-visited: #551a8b;
  --in-content-primary-button-background: #0095dd;
  --in-content-primary-button-background-hover: #008acb;
  --in-content-primary-button-background-active: #006b9d;
  --in-content-table-border-dark-color: #d1d1d1;
  --in-content-table-header-background: #0095dd;
  --in-content-help-button-background: #ffcb00;
  --in-content-help-button-background-hover: #f4c200;
  --in-content-help-button-background-active: #eaba00;
}
*/