body {

	font: message-box;
	font-size: 15px;
	font-weight: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
 	-moz-appearance: none;
	background-color: var(--in-content-page-background);
	color: var(--in-content-page-color);

	/* *|*.main-content */
	padding-top: 40px;
  	-moz-padding-end: 44px; /* compensate the 4px margin of child elements */
  	padding-bottom: 48px;
  	-moz-padding-start: 48px;
  	overflow: auto;
}

h1 {
	font-size: 2.5em;
  	font-weight: lighter;
  	line-height: 1.2;
  	color: var(--in-content-text-color);
  	margin: 0;
  	margin-bottom: .5em;
}

h2 {
  font-size: 2em;
    font-weight: lighter;
    line-height: 1.2;
    color: var(--in-content-text-color);
    margin: 0;
    margin-bottom: .5em;
}

hr {
  	border-style: solid none none none;
  	border-color: var(--in-content-border-color);
}

.certButtons {
  margin: 10px;
  float: center;
  display: none
}

.ui.table tr td{
  border: 0px;
}

.ui.red.button.trustbutton{
  border-radius:0px;
  margin-left: 10px;
  background-color: #C22026;
}

.ui.green.button.trustbutton{
  border-radius:0px;
  margin-left: 10px;
}

.ui.blue.button.moreButton{
  border-radius:0px;
}

.authorityButtons{
  width:30%;
  border-radius:0px;
  float: center;
}

.detail tr.selected {
    background-color: #FFCF8B;
}

.trust_button_div{
  margin-top: -20px;
  margin-left:-250px;
}

#authTitle {
  font-size: 28pt;
  font-weight: bold;
  margin-right: 10px;
}

#detail_table {
  display: none;
}

.parentOpen {
  background-color: #EBECED;
}

.parentClosed{
  background-color: #FEFEFE;
}

td{
  border:0px;
}

.detail_row {
  font-size: .8em;
  border:0px;
  background-color: #EBECED;
}

.block_div {
    margin: 10px;
}

#icon_node{
  text-align: center;
}

.parent {
    text-align: left;
    cursor: pointer; 
    cursor: hand;
}

#wrapper{
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#footer_plain{
  padding-top: 7px;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #FFF;
  bottom: 0px;
  margin: 0px;
}

#content{
  display: inline-block;
  width:80%;
  margin-bottom:100px;
}

#import {
  background-color: #51b3e5;
  border-color: #2d7abf;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 0px;
}

#viewButton {
  background-color: #51b3e5;
  border-color: #2d7abf;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#editTrustButton {
  background-color: #51b3e5;
  border-color: #2d7abf;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#exportButton {
  background-color: #51b3e5;
  border-color: #2d7abf;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#delete {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.searchbar {
  margin: 10px, 10px, 10px, 0;
}

